@charset "UTF-8";

body{
    background-color: rgb(51, 47, 47);
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
}

.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

.curso{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: auto;
    margin-bottom: 20px;
}